doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title Log-In
    |     
    style.
      .box{
      margin: 3vw;
      width: 30%;
      height: 80%;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: solid;
      border-width: 0.1vw;
      border-radius: 3vw;
      border-color: black;
      }
      .container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      .inlogo{
      width: 40%;
      height: auto;
      margin-top: 15%;
      }
      .register{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 10%;
      font-size: 1vw;
      }
      .continue1{
      background-color: #106BD5;
      width: 22vw;
      height: 2vw;
      max-width: 270px;
      margin-top: 10%;
      align-items: center;
      display: flex;
      margin-top: 2%;
      border-radius: 1.5vw;
      border: solid;
      border-width: 0.05vw;
      cursor: pointer;
      color: #000;
      margin-left: 5vw;
      }
      .click1{
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1vw;
      color: white;
      }
      .continue2{
      background-color:  white;
      width: 22vw;
      height: 2vw;
      max-width: 270px;
      margin-top: 10%;
      align-items: center;
      display: flex;
      margin-top: 2%;
      border-radius: 1.5vw;
      border: solid;
      border-width: 0.05vw;
      cursor: pointer;
      color: #000;
      margin-left: 5vw;
      }
      .click2{
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1vw;
      color: black;
      margin-left: 5%;
      }
      .toptext1{
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      margin-top: 2%;
      font-size: 1.5vw;
      }
      .toptext2{
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 30px;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 40px;
      padding-bottom: 20px;
      font-size: 0.8vw;
      }
      .close{
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      position: relative;
      top: 2%;
      left: 43%;
      font-size: 1.2vw;
      }
      .iconcontainer{
      width: 1.6vw;
      height: 1.6vw;
      background-color: white;
      border-radius: 50%;
      margin-left: 3%;
      margin-right: 15%;
      align-items: center;
      justify-content: center;
      }
      .icon{
      width: 100%;
      height: auto;
      }
      .icon2{
      width: 80%;
      height: auto;
      margin-right: 5%;
      margin-top: 8%;
      }
      .space{
      margin-right: 1%;
      }
  body
    .container
      .box
        a.close(href='/homepage') X
        |             
        div
          img.inlogo(src='/logo/FlatBuddies logo2', alt='FlatBuddies logo')
          |                 
          p.toptext1 Get started
          |                 
          p.toptext2
            | By tapping Log In, you agree to our Terms. Learn how we process your data in our Privacy Policy, and Cookie Policy.
          |                 
          div
            .continue1
              .iconcontainer
                img.icon(src='/icons/google.png', alt='Google icon')
              |                         
              a.click1(href='/profiles') Continue with Google
            |                     
            .continue2
              .iconcontainer
                img.icon2(src='/icons/apple.png', alt='Apple icon')
              |                         
              a.click2(href='/profiles') Log in with Apple
            |                     
            .continue2
              .iconcontainer
                img.icon2(src='/icons/email.png', alt='Email icon')
              |                         
              a.click2(href='/profiles') Log in with email
          |                 
          .register
            p.space Don&apos;t have an account yet?
            |                     
            a(href='/questionnaire') Register
